.banner {
    background: black;
    margin-top: -25px;
    width: 100%;
    height: 18vh;
    min-height: 50px;
    background-image: linear-gradient(to right, #215993, #2a9560);
}

.bannerText {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 20vh;
}