.searchResults {
    width: 100%;
    height: 50vh;
    background-color: white;
    color: black;
}

 .resultDiv {
    width: 100%;
    margin-left: 50px;
}

.outer {
    float: left;
    width: 5%;
}

.star {
    width: 15px;
    height: 15px;
}

.resultTitle
{
    width: 40%;
    float: left;
}

.resultBody {
    width: 50%;
    float: left;
    margin-bottom: 22px;
}

li {
    margin: 10px 0;
}