.searchBarDiv {
    text-align: center;
    margin-top: 15px;
}

.searchBar {
    height: 45px;
    min-height: 40px;
    width: 86%;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 1.5rem;
    float: left;
    margin-left: 3vw;
    padding-left: 2vw;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.searchBtn {
    height: 45px;
    min-height: 40px;
    width: 50px;
    min-width: 30px;
    margin-left: 1.5vw;
    background-color: #2a9560;
    background: url('../banner/search-btn.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* For Mobile */

@media screen and (max-width: 540px) {
    .searchBar {
        width: 78%;
        height: 38px;
        min-height: 33px;
        border: 1px solid grey;
        border-radius: 3px;
        font-size: 20px;
        float: left;
        margin-left: 3vw;
        padding-left: 2vw;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .searchBtn {
        height: 38px;
        min-height: 33px;
        width: 43px;
        min-width: 30px;
        margin-left: 1.5vw;
        background-color: #2a9560;
        font-size: 20px;
        background: url('../banner/search-btn.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        float: left;
        padding: 0;
        border-radius: 3px;
        overflow: hidden;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* For Tablets */

@media screen and (min-width: 540px) and (max-width: 780px) {
    .searchBar {
        width: 83%;
        overflow: hidden;
        height: 45px;
        min-height: 40px;
        border: 1px solid grey;
        border-radius: 3px;
        font-size: 1.5rem;
        float: left;
        margin-left: 3vw;
        padding-left: 2vw;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .searchBtn {
        height: 45px;
        min-height: 40px;
        width: 50px;
        min-width: 30px;
        margin-left: 1.5vw;
        background-color: #2a9560;
        font-size: 20px;
        background: url('../banner/search-btn.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        float: left;
        padding: 0;
        border: none;
        border-radius: 3px;
        overflow: hidden;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}