.favourites {
    width: 100%;
    height: 33vh;
    background-color: #f7fefa;
    color: #2a9560;
    display: table;
}

.favouritesH2 {
    padding-left: 3.2vw;
    font-size: 1.7rem;
}

.favsResultDiv {
    width: 100%;
    color: black;
    margin-left: 3.8%;
    margin-top: -15px;
}

.favsOuter {
    float: left;
    width: 25px;
}

.favsStar {
    width: 15px;
    height: 15px;
}

.favsResultTitle {
    width: 40%;
    float: left;
}

.favsResultBody {
    width: 50%;
    float: left;
    margin-bottom: 22px;
}

.favsElemTitle {
    display: -webkit-box;
}

li {
    margin: 10px 0;
}